@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: white;
  color: black
}

<<<<<<< HEAD
.about-container {
  color: #fff;
  background-color: #111;
  padding: 20px;
}

.about-text {
  margin-bottom: 40px;
}

.progress-bars {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.progress-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-title {
  width: 20%;
  font-size: 18px;
}

.progress {
  width: 70%;
  height: 8px;
  background-color: #333;
  position: relative;
}

.progress-fill {
  height: 100%;
  background-color: #ff4040;
  transition: width 0.5s ease;
}

.progress-percentage {
  width: 10%;
  text-align: right;
}




/* count */

.count-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  
  padding: 40px;
}

.count-box {
  text-align: center;
  width: 200px;
  padding: 20px; /* Add padding inside the box */
   /* Add a border with opacity */
   /* Optional: Add border radius for rounded corners */
}

.count-box h1 {
  font-size: 48px;
  margin: 0;
}

.count-box p {
  font-size: 18px;
  margin: 5px 0 0 0;
}

.back{
  background: url('../src/assets/about-cover-1.jpg');
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
=======
.fixedd {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
  width: 300px; /* আপনার প্রয়োজন অনুযায়ী width ঠিক করুন */
  transition: all 0.3s ease;
>>>>>>> a81ad594d4efc71b5ad7bc732f95f4403fc99432
}
